.rating {
  font-size: 12px;
}

.butt {
  margin: 15px;
  background-color: black;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-control {

}

.register {
  border-radius: 20px;
  border-style: solid;
  border-color: lightgray;
  padding: 20px;
  margin: 40px;
}
