
<h4 style="text-align: center;">Register for <strong>"Cut It"</strong></h4>
<form action="/register/users" method="POST" class="register">
<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" class="form-control" name="username">
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" class="form-control" name="email">
</div>

<div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" class="form-control" name="firstname">
</div>

<div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" class="form-control" name="lastname">
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" class="form-control" name="password">
</div>

<div class="form-group">
    <label for="password2">Re-enter Password:</label>
    <input type="password" id="password2" class="form-control" name="password2">
</div>
<br>
<button type="submit" class="btn btn-primary">Register</button>

</form>
